<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         processIsolation="true"
>
    <testsuites>
        <testsuite name="Functional Tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>